/* Font Includes */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/* 
  CSS Variables 
*/
:root {
  --lightmode-backg-color: #ddd;
  --lightmode-border-color: #eee;
  --lightmode-shadow-color: rgba(0, 0, 0, 0.4);
  --darkmode-backg-color: #333;
  --darkmode-border-color: #3de99e;
  --darkmode-shadow-color: rgba(255, 255, 255, 0.35);
  --white: #fff;
}
/* 
  General Styles & Modular Classes 
*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--lightmode-backg-color);
}
body.dark-mode {
  background-color: var(--darkmode-backg-color);
}
.btn {
  cursor: pointer;
  border: none;
  font-size: 1.125rem;
  padding: 0.2em 1em;
}
.btn.dark-mode {
  margin-left: 1rem;
}
.d-none {
  display: none;
}
.change-layout {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 1em;
}
/* Header Styles */
.header {
  height: 5vh;
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: var(--white);
}
.navigation {
  width: 300px;
  display: flex;
  align-items: center;
}
.navigation .btn-container {
  margin-left: 1em;
  width: 150px;
}
/* Main & Container Styles */
.main {
  height: calc(95vh);
}
.container-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.component {
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightmode-border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.dark-mode .component {
  border: 0.2px solid var(--darkmode-border-color);
}
/* Slideshow Styles */
.image-container {
  width: 70%;
  height: 70%;
  box-shadow: 0 4px 20px var(--lightmode-shadow-color);
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: none;
  cursor: pointer;
}
.image-container img.active {
  display: block;
}
.image-container img.zoom {
  transform: scale(1.5);
  transition: 0.4s ease;
}
body.dark-mode .image-container {
  box-shadow: 0 4px 20px var(--darkmode-shadow-color);
}
/* Input type range styles */
input[type="range"] {
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
}
input.file-input {
  margin-top: 1em;
}
body.dark-mode input.file-input,
body.dark-mode .input-range > label {
  color: white;
}
/* Media Queries */
@media (max-width: 561px) {
  .btn,
  .candidate-name {
    font-size: 0.7rem;
  }
}
