/* font includes */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/* general styles */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #ddd;
}
.btn {
  cursor: pointer;
  border: none;
  font-size: 1.125em;
  padding: 0.2em 1em;
}
.d-none {
  display: none;
}
.change-layout {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 1em;
  /* flex-direction: column; */
}
/* header */
.header {
  height: 5vh;
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: #fff;
}
.navigation {
  width: 200px;
  display: flex;
  align-items: center;
}
.navigation .btn-container {
  margin-left: 1em;
  width: 150px;
}
/* main */
.main {
  height: calc(95vh);
}
/* container */
.container-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.component {
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Slideshow */
.image-container {
  width: 70%;
  height: 70%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}
/* Slideshow images styles */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: none;
}
.image-container img.active {
  display: block;
}
input[type="range"] {
  cursor: pointer;
}
